* {
  box-sizing: border-box;
}
body{
	background-color: #ff0f4f;
	margin-right:auto;
	margin-left: auto;
	padding: 100px;
	padding-top: 60px;
}
.inner-right{
	font-family: sans-serif,serif;
	width: 50%;
	font-size: 1em;
	float: right;
}
.inner-left{
	font-family: sans-serif,serif;
	width:50%;

	font-size: 1em;
	float: left;
}
div{
	font-size: 1.5em;
	font-weight: bold;
	background-color: #0f0f00;
	border-radius: 10px;
	border-width: 5px;
	border-style: dotted;
	padding: 10px;
	color: white;
	text-align:  center;
	padding-top: 20px;
}
button{
	float: right;
	background-color: yellow;
	color: red;
	font-weight: bolder;
}