<!DOCTYPE html>
<html>
	<head>
		<title>the diet checher</title>
		<link rel="stylesheet" href="style.css">
		<script src="./angular.min.js"></script>
		<script src="./app.js"></script>
	</head>
	<body ng-app='NarrowItDownApp'>
		<div class = 'outer'  >
			<section><h1>Assignment 3 Solution</h1></section>
			<h4>Takes on average of 30 sec to search please Wait..</h4>
			<div class='inner-left' ng-controller='NarrowItDownController as list' ng-style="customStyle.style">
				<input type="text" ng-model="list.searchTerm" >
				<button ng-click="list.MenuSearch();">search</button>
				 <found-items 
						found="list.items"
				 		on-remove="list.removeItem(index)"
				 		title="Search result's"
				 		error-log="{{list.errorLog}}"
				 ></found-items>
					
			</div>
			
		</div>
	</body>
</html>

